body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background: rgb(0,25,36);
    background: linear-gradient(90deg, rgba(0,25,36,1) 15%, rgba(9,121,80,1) 39%, rgba(0,255,222,1) 55%, rgba(0,138,255,1) 79%);
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px #000;
    color: rgb(0, 138, 255);
    /* background-color: rgb(25,35,50); */
}

.author{
    font-size: 12px;
    color: rgba(9,121,80,1);
    text-shadow: none;
}

.mastermind {
    margin: 50px 0
}

a {
    display: inline-block;
    padding: 20px;
    margin: 0px 20px;
    background-color: yellowgreen;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    border: 1px solid green;
    border-radius: 20px;
}

a:hover {
    background-color: green;
    color: yellow;
}