body {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(90deg, black, white);
}

h1 {
    font-size: 60px;
    text-shadow: 4px 4px #000;
    color:white;
    text-decoration: underline gray;
}

.author {
    font-size: 12px;
    color: black;
    text-shadow: none;
    text-decoration: none;
}

.mastermind {
    margin: 50px 0
}

a {
    display: inline-block;
    padding: 20px;
    margin: 0px 20px;
    background-color: gray;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    border: 1px solid black;
    border-radius: 20px;
}
.game {
    float: left;
    padding: 20px;
    margin: 10px 20px;
    background-color: gray;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px #000;
    border: 1px solid black;
    border-radius: 20px;
}

a:hover {
    background-color: black;
}

a:active {
    font-size: 20px;
    color: yellow;
    transition: font-size .1s, color .1s;
}